edit-config's default test-option

```
What steps will reproduce the problem?
1. run edit-config operation without test-option

What is the expected output? What do you see instead?

According to RFC 6241 sec. 7.2, test-then-set is default test-option if the 
server supports :validate capability. But libnetconf does no validation if 
test-option is not specified.



```

Original issue reported on code.google.com by `rkre...@cesnet.cz` on 27 May 2014 at 11:38
