When set default operation to "none", and include a node with "create" operation, the create operation does not work

We found another issue. When set default operation to "none", and include a node with "create" operation, the create operation does not take effect.
Below is the example:

```
<?xml version='1.0' encoding='UTF-8'?>
<rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
     xmlns:ns0="urn:ietf:params:xml:ns:yang:my-config" 
     xmlns:ns1="urn:ietf:params:xml:ns:yang:my-context" 
     xmlns:ns2="urn:ietf:params:xml:ns:yang:my-ospf" 
     message-id="urn:uuid:5774130e-1bd9-11e5-9567-e83935bc2d94" 
     xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
     <edit-config>
       <target>
         <running />
       </target>
       <default-operation>none</default-operation>
       <config>
         <ns0:contexts>
           <ns1:context nc:operation="create">
             <ns1:context-name>local</ns1:context-name>
             </ns1:context>
           </ns0:contexts>
         </config>
       </edit-config>
</rpc>
]]>]]>

netopeer-server[14309]: Model "ericsson-config" transAPI: nothing changed.

```

I checked the libnetconf code, and found NC_EDIT_OP_CREATE and NC_EDIT_DEFOP_NONE have the same value, i.e. 3. maybe this is the problem. 
Because in branch of compact_edit_operations_recursively() below,  (op == supreme_op) is met , so the node with "create" operation is removed.
```
	default:
		/* any operation specified */
		if (op == supreme_op) {
			/* operation duplicity -> remove subordinate duplicated operation */
			/* remove operation attribute */
			xmlRemoveProp(xmlHasNsProp(node, BAD_CAST NC_EDIT_ATTR_OP, BAD_CAST NC_NS_BASE));
			nc_clear_namespaces(node);
		}
		break;
```
I tried to change NC_EDIT_DEFOP_NONE to value 6, which is different to other operation values. And seems to me the problem is fixed. 
I'm not sure if it's the right solution, but whatever I can go ahead. 

Could you please have a look to this issue? 
Thank you very much.

``` 
/**
 * @ingroup rpc
 * @brief Enumeration of edit-config's operation attribute values.
 */
typedef enum NC_EDIT_OP_TYPE {
 NC_EDIT_OP_ERROR = -1,  /**< for internal purposes, not defined by NETCONF */
 NC_EDIT_OP_MERGE = 1,   /**< merge */
 NC_EDIT_OP_NOTSET = 0,  /**< compatibility value for NC_EDIT_DEFOP_TYPE */
 NC_EDIT_OP_REPLACE = 2, /**< replace */
 NC_EDIT_OP_CREATE,      /**< create */
 NC_EDIT_OP_DELETE,      /**< delete */
 NC_EDIT_OP_REMOVE       /**< remove */
} NC_EDIT_OP_TYPE;

/**
 * @ingroup rpc
 * @brief Enumeration of edit-config's \<default-operation\> element values.
 */
typedef enum NC_EDIT_DEFOP_TYPE {
 NC_EDIT_DEFOP_ERROR = -1,  /* for internal purposes, not defined by NETCONF */
 NC_EDIT_DEFOP_NOTSET = 0,  /* follow NETCONF defined default behavior (merge)*/
 NC_EDIT_DEFOP_MERGE = 1,   /* merge (RFC 6241, sec. 7.2) */
 NC_EDIT_DEFOP_REPLACE = 2, /* replace (RFC 6241, sec. 7.2) */
 NC_EDIT_DEFOP_NONE = 3     /* none (RFC 6241, sec. 7.2) */
} NC_EDIT_DEFOP_TYPE;  
```
Thanks,
Yu 


Hi, thanks for the report. Due to backward compatibility, I was unable to change value of `NC_EDIT_DEFOP_NONE`, but now the problem should be handled correctly where needed. 

Note, that I also fixed other issue with `none` default operation when missing parents data of nodes to create were created (merged from edit-config) despite the default operation was `none` and it should return `data-missing` error.