About the NETCONF.events file.

Hi,
  I'm new to libnetconf :)
  I see that the NETCONF.events is used to exchange the notifications between netconf server and the netconf agent. I have 2 questions about this file:
1. This file will not be deleted even when netconf server restart, why?
2. Any consideration about how to strict the size of this file? Since the notification maybe  "a configuration change, a fault, a change in status, crossing a threshold (from rfc5277)", the size of the file maybe very large.

Wish your reply.

0) the purpose of the file is little bit different, it serves to **store** events of the NETCONF stream. libnetconf provides API functions for any application to write (announce) an event.

1) to allow replay events from past (RFC 5277, section 3.3)

2) add the functionality into libnetconf :) I just wasn't forced to solve this despite I know about this issue. It wasn't critical so far. Anyway, I'm open to accept a patch(es) adding such a functionality ;)