create-subscription without parameters replays whole history.

```
What steps will reproduce the problem?
1. Connect to libnetconf based server.
2. send create-subscription request without any parameters.


What is the expected output?
As stated in section 2.1.1 of RFC 5277 
(http://tools.ietf.org/html/rfc5277#section-2.1.1): If <startTime> is not 
present, this is not a replay subscription.

What do you see instead?
Whole stream is replayed.

Please use labels and text to provide additional information.


```

Original issue reported on code.google.com by `david.kupka@gmail.com` on 26 Nov 2013 at 3:50
